[submodule "codelab-auth-service"]
	path = codelab-auth-service
	url = git@github.com:pese-git/codelab-auth-service.git
[submodule "codelab-core-service"]
	path = codelab-core-service
	url = git@github.com:pese-git/codelab-core-service.git
[submodule "codelab-admin-frontend"]
	path = codelab-admin-frontend
	url = git@github.com:pese-git/codelab-admin-frontend.git
[submodule "codelab-user-frontend"]
	path = codelab-user-frontend
	url = git@github.com:pese-git/codelab-user-frontend.git
